body {
  // BODY
  --body-bg-color: #f8f9f8;
  //DEFAULT COLORS
  --white: #606161;
  --white-always: #fff;
  --yt-red: #ff0101;
  // TEXT
  --text-color: #030303;
  --link-color: #3da0f4;
  --textone-type-first-color: #ffffff;
  --textone-type-second-color: #606060;

  --text-link-primary-color: #606060;
  --text-link-primary-hover-color: #030303;
  // LOGO
  --logo-text-color: #2c3e50;
  // BACKGROUND
  --bg-hover: #f3f1ec;

  // OPACITY BACKGROUND
  --opacity-bg: rgba(0, 0, 0, 0.4);

  // ICONS
  --navbar-bar-color: #606161;
  --search-icon-color: #828282;
  --search-icon-hover-color: #373737;
  --icon-color: #919190;
  --icon-color-two: rgb(3, 3, 3);
  --icon-hover-color: #616160;

  // SEARCH BOX
  --searchbox-border-color: hsla(0, 0%, 53.3%, 0.4);
  --searchbox-focus-border-color: #3ea6ff;
  --searchbox-bg-color: #ffffff;
  --searchbox-placeholder-color: #888888;
  --searchbox-caret-color: black;
  // SEARCH BUTTON
  --searchbtn-bg-color: #f8f8f8;
  --searchbtn-bg-hover-color: #f0f0f0;
  --searchbtn-bg-focus-color: #e9e9e9;
  --searchbtn-border-color: #d3d3d3;
  --searchbtn-hover-border-color: #c6c6c6;

  // LAYOUT
  --layout-bg-color: #ffffff;
  // SIDEBAR
  --sidebar-icon-color: #616061;
  --sidebar-icon-active-color: #ff0000;
  --sidebar-item-hover-bg: #f3f2f3;

  // DROPDOWN
  --dropdown-bg: #fefffe;

  // DROPDOWN LINK MAIN
  --dropdown-link-main-bg: #ffffff;
  --dropdown-link-main-bg-focus: #e1e0e0;
  --dropdown-link-main-bg-active: #d5d4d4;
  --dropdown-link-main-bg-focus-hover: #d5d4d4;
  --dropdown-link-main-bg-hover: #f3f2f3;

  // BORDER
  --border-color: rgba(0, 0, 0, 0.1);

  // SCROLLBAR
  --sc-scroll-one-bg: #aaa;
  --sc-scroll-two-bg: #cdcdcc;
  --sc-scroll-three-bg: #cdcdcc;

  // CARD
  --card-img-time-bg: rgba(0, 0, 0, 0.8);
  --card-img-time-color: #ffffff;
  --card-options-bg: rgba(28, 28, 28, 0.9);
  --card-options-text-color: #eee;
  --card-options-button-hover-bg: rgba(255, 255, 255, 0.1);

  // POPUP
  --popup-detail-bg: #616161;
  --popup-detail-color: #ffffff;

  --popup-video-detail-bg: #191919;
  --popup-video-detail-color: #ffffff;

  // VIDEO
  --video-pb-bg: rgba(255, 255, 255, 0.2);
  --video-bg: #000;
  --video-hover-time-color: #fff;
  --video-icon-color: #fff;
  --video-time-color: #fff;
  --video-volume-range: #fff;
  --video-fetched-bar-color: rgba(255, 255, 255, 0.5);
  --video-interaction-bg: rgba(0, 0, 0, 0.5);

  // TEXT INPUT
  --text-input-border-bottom-color: rgba(0, 0, 0, 0.1);
  --text-input-border-bottom-active-color: #aaa;
  --text-input-border-bottom-focus-color: #020203;

  // INPUT PRIMARY BUTTON
  --blue-bg: #3ea7fe;
  --blue-disable-bg: rgba(0, 0, 0, 0.05);
  --blue-text-color: #fff;
  --blue-disable-text-color: rgb(144, 144, 144);
}

body.dark-mode {
  // BODY
  --body-bg-color: #181919;
  //DEFAULT COLORS
  --white: #ffffff;
  --yt-red: #ff0101;
  --white-always: #fff;
  // TEXT
  --text-color: #ffffff;
  --link-color: #3da0f4;
  --textone-type-first-color: #ffffff;
  --textone-type-second-color: #aaa;

  --text-link-primary-color: #aaa;
  --text-link-primary-hover-color: #ffffff;
  // LOGO
  --logo-text-color: #ffffff;
  // BACKGROUND
  --bg-hover: #363637;

  // ICONS
  --navbar-bar-color: #ffffff;
  --search-icon-color: #6f6f6f;
  --search-icon-hover-color: #868687;
  --icon-color: #909090;
  --icon-color-two: #fff;
  --icon-hover-color: #ffffff;

  // SEARCH BOX
  --searchbox-border-color: hsla(0, 0%, 53.3%, 0.4);
  --searchbox-focus-border-color: #3ea6ff;
  --searchbox-bg-color: #121313;
  --searchbox-placeholder-color: #888888;
  --searchbox-caret-color: white;
  // SEARCH BUTTON
  --searchbtn-bg-color: #313030;
  --searchbtn-bg-hover-color: hsla(0, 0%, 100%, 0.08);
  --searchbtn-bg-focus-color: hsla(0, 0%, 100%, 0.08);
  --searchbtn-border-color: hsl(0, 0%, 18.82%);
  --searchbtn-hover-border-color: hsl(0, 0%, 18.82%);

  // LAYOUT
  --layout-bg-color: #202121;
  // SIDEBAR
  --sidebar-icon-color: #909191;
  --sidebar-icon-active-color: #ffffff;
  --sidebar-item-hover-bg: #383939;

  // DROPDOWN
  --dropdown-bg: #202021;
  // DROPDOWN LINK MAIN
  --dropdown-link-main-bg: #181818;
  --dropdown-link-main-bg-focus: #3b3a3b;
  --dropdown-link-main-bg-active: #4e4e4f;
  --dropdown-link-main-bg-focus-hover: #4e4e4f;
  --dropdown-link-main-bg-hover: #373737;
  // BORDER
  --border-color: rgba(255, 255, 255, 0.1);

  // SCROLLBAR
  --sc-scroll-one-bg: #aaa;
  --sc-scroll-two-bg: #616061;
  --sc-scroll-three-bg: #616061;

  // CARD
  --card-img-time-bg: rgba(0, 0, 0, 0.8);
  --card-img-time-color: #ffffff;
  --card-options-bg: rgba(28, 28, 28, 0.9);
  --card-options-text-color: #eee;
  --card-options-button-hover-bg: rgba(255, 255, 255, 0.1);

  // POPUP
  --popup-detail-bg: #616161;
  --popup-detail-color: #ffffff;

  --popup-video-detail-bg: #191919;
  --popup-video-detail-color: #ffffff;

  // VIDEO
  --video-pb-bg: rgba(255, 255, 255, 0.2);
  --video-bg: #000;
  --video-hover-time-color: #fff;
  --video-icon-color: #fff;
  --video-time-color: #fff;
  --video-volume-range: #fff;
  --video-fetched-bar-color: rgba(255, 255, 255, 0.5);
  --video-interaction-bg: rgba(0, 0, 0, 0.5);

  // TEXT INPUT
  --text-input-border-bottom-color: rgba(255, 255, 255, 0.1);
  --text-input-border-bottom-active-color: #5b5a5a;
  --text-input-border-bottom-focus-color: #fefeff;

  // INPUT PRIMARY BUTTON
  --blue-bg: #3ea7fe;
  --blue-disable-bg: rgba(255, 255, 255, 0.1);
  --blue-text-color: rgb(3, 3, 3);
  --blue-disable-text-color: rgb(113, 113, 113);
}
